.H_ui {
  font-family: inherit;
  font-size: inherit;
}

.H_ctl.H_grp {
  box-shadow: none;
  border-radius: 0;
}

.H_slider {
  width: 1em;
}

.H_slider .H_slider_track {
  background-color: rgba(252, 140, 28, 0.3);
  border-radius: 2px;
}

.H_slider.H_slider_active .H_slider_track {
  background-color: var(--dkv-highlight-primary-color);
}

.H_slider:hover .H_slider_track {
  background-color: rgba(252, 140, 28, 0.4);
}

.H_slider .H_slider_track_active {
  background-color: var(--dkv-highlight-primary-color);
}

.H_slider:hover .H_slider_track_active {
  background-color: var(--dkv-highlight-primary-hover-dark-color);
}

.H_slider .H_slider_knob {
  background-color: #151515;
}

.H_zoom_slider {
  .H_slider {
    padding: 7px 0;
    width: 100%;

    .H_slider_cont {
      height: 66px !important;
    }
  }

  .H_btn {
    width: 25px;
    height: 20px;

    .H_icon {
      height: 14px;
      width: 14px;
      fill: var(--dkv-text-primary-color, #353535);
    }

    &:hover {
      .H_icon {
        fill: var(--dkv-text-primary-hover-color, #353535);
      }
    }
  }

  .H_el::after {
    display: none !important;
  }
}

.H_scalebar {
  text-shadow: none;
  color: #666666;
}

.H_ib_body {
  border-radius: 0;
  background-color: var(--dkv-background-primary-color, #ffffff);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  bottom: 3px;

  .H_ib_close {
    display: none;
  }

  .H_ib_content {
    margin: 0;
    font: inherit;
  }
}

.H_ib_tail {
  margin: -11px -10px;
}

.H_ib.H_ib_top .H_ib_tail::before {
  border-top-color: rgba(0, 0, 0, 0.1);
}

.dkv-map-asset-infobubble {
  will-change: transform;

  .H_ib_body {
    bottom: 25px;
  }

  .H_ib_tail {
    bottom: 34px;
  }
}

.dkv-map-asset-fencetooltipbubble {
  will-change: transform;

  .H_ib_body {
    bottom: 10px;
    border-radius: 4px;
    box-shadow: none;

    .H_ib_content {
      white-space: nowrap;
      padding: 5px 8px;
      background-color: #666666;
      color: #fff;
      border-radius: 4px;
    }
  }

  .H_ib_tail {
    display: none;
    bottom: 19px;
  }
}

.dkv-asset-icondiv {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 2px solid #ffffff;

  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--online {
    background-color: var(--dkv-highlight-ok-color);

    & .dkv-asset-icondiv-standby,
    & .dkv-asset-icondiv-offline {
      display: none;
    }
  }

  &--standby {
    background-color: var(--dkv-highlight-warning-color);

    & .dkv-asset-icondiv-online,
    & .dkv-asset-icondiv-offline {
      display: none;
    }
  }

  &--offline {
    background-color: var(--dkv-highlight-error-color);

    & .dkv-asset-icondiv-online,
    & .dkv-asset-icondiv-standby {
      display: none;
    }
  }
}

.dkv-map-marker-tooltip {
  .H_ib_content {
    padding: 4px;
    border: solid 0.5px var(--dkv-link-primary-color);
    white-space: nowrap;
  }
}

.dkv-map-location-icon {
  color: var(--dkv-highlight-primary-color);
  font-size: 48px;
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -48px;
}

.dkv-map-poi-icon {
  //color: var(--dkv-highlight-primary-color);
  font-size: 50px;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -50px;

  .st0-0 {
    fill: #ffffff;
  }

  .st1-0 {
    fill: #ef8300;
  }

  .st2-0 {
    fill: #00497a;
  }

  .st3-0 {
    font-family: "DKV";
  }

  .st4-0 {
    font-size: 57.1438px;
  }

  .st0-1 {
    fill: #ef8300;
  }

  .st1-1 {
    fill: #ffffff;
  }

  .st2-1 {
    fill: #00497a;
  }

  .st3-1 {
    font-family: "DKV";
  }

  .st4-1 {
    font-size: 57.1438px;
  }

  .st0-2 {
    fill: #ffffff;
  }

  .st1-2 {
    fill: #ef8300;
  }

  .st2-2 {
    fill: #00497a;
  }

  .st0-3 {
    fill: #ef8300;
  }

  .st1-3 {
    fill: #ffffff;
  }

  .st2-3 {
    fill: #00497a;
  }

  &:hover {
    .st0-0 {
      fill: #ef8300;
    }

    .st0-0 ~ .st0-0 {
      fill: #fff;
    }

    .st0-0 ~ .st2-0 {
      fill: #00497a;
    }

    .st0-0 ~ .st2-0 + .st2-0 {
      fill: #fff;
    }

    .st0-0 ~ .st2-0 + .st0-0 {
      fill: #ef8300;
    }

    .st0-2 {
      fill: #ef8300;
    }

    .st2-2 ~ .st2-2 {
      fill: #fff;
    }

    .st1-2 ~ .st0-2 {
      fill: #fff;
    }
  }
}

.dkv-map-geofence {
  background-color: var(--dkv-link-primary-color);
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;

  &:hover {
    cursor: move;
  }

  &.dkv-map-geofence-start {
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;

    &:hover {
      cursor: pointer;
    }
  }
}

.dkv-asset-label {
  color: #636363;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  margin-right: 25px;
}

.dkv-asset-icon--active {
  border-color: #004b78 !important;
  background-color: #004b78 !important;

  .dkv-asset-label {
    color: #ffffff !important;
  }
}

.H_context_menu {
  border-radius: 4px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 8px 0;

  .H_context_menu_item {
    margin: 0;
    padding: 6px 16px;
    font-size: 1em;
    color: var(--dkv-text-primary-color, #353535);
  }

  .H_context_menu_item.clickable:hover {
    color: var(--dkv-text-primary-color, #353535);
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.dkv-map-icon-webcamcluster {
  display: flex;
  align-items: center;
  cursor: pointer;
}
